.results-section {
  display: flex;
  justify-content: center;
  height: 100px;
  perspective: 185px;
  font-size: 155%;
  font-weight: 100;
  letter-spacing: 4px;
  line-height: 150%;
  text-align: justify;
}


.results-section > ul li {
  padding: 0 0 0 0;
  cursor: pointer;
}


@media (max-width: 650px) {
  .results-section {
    font-size: 208%;
  }
}

@media (max-width: 445px) {
  .results-section {
    font-size: 165%;
  }
}
